@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1F2EB;
  --foreground: #011627;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #011627;
    --foreground: #F1F2EB;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Courier Prime", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.typewriter span span{
  letter-spacing: .05em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { color: transparent }
  50% { color: #F5853F; }
} 